.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}


  /* Shrinking gradient background */
  .bg-shrink {
    background: linear-gradient(to bottom, #ff4081 0%, #f8d0e0 100%);
    padding: 50px 0;
  }

  /* Styling the text inside banner */
  .banner-text {
    animation: fadeInUp 2s ease-in-out;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


